<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .left_college {
            float: left;
            border: 2px;
            border-style: solid;
            margin: 5%;
            padding: 2%;
        }
        .right_student {
            float: right;
            border: 2px;
            border-style: solid;
            margin: 5%;
            padding: 2%;
        }
        table{
            width: 80%;
            text-align: center;
            margin: 0px auto;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
    <div class="left_college">
        <p>Nombre:{{ college.companyName }}</p>
        <p>Direccion:{{ college.address }}</p>
        <p>CIF:{{ college.username }}</p>
        <p>Teléfono: {{ college.telephone }}</p>
        <p>EMail:{{ college.email }} </p>
    </div>
    <div class="right_student">
        <p>Nombre: {{ student.name }}</p>
        <p>DNI: {{ student.username }}</p>
        <p>eMail: {{ student.email }}</p>
    </div>
    <table>
      <tr>
        <th>Factura Id</th>
        <th>Fecha pago</th>
        <th>numero de tarjeta</th>
        <th>Propietario de tarjeta</th>
        <th>Import</th>

      </tr>
      <tr>
        <td>{{ rent.id }}</td>
        <td>{{ rent.date.date }}</td>
        <td>{{ rent.card_number }}</td>
        <td>{{ rent.card_holder }}</td>
        <td>{{ rent.price }}€</td>
      </tr>
    </table>

    <p> Nota: La tenencia de esta factura no acredita el pago de la misma</p>
</html>
